<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset='utf=8'>
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	<title>Corvallis Reuse Admin</title>
  </head>
  <body>
 	<div class="header" id="top">
 		<div class="container">
			<h1 class="header-heading">Corvallis Reuse Application Admin</h1>
		</div>
	</div>
	<div class="nav-bar">
		<div class="container">
			<ul class="nav">
				<li style="color:orange">Edit: </li>
				<li><a href="/v.1.0/list_business">Businesses</a></li>
				<li><a href="/v.1.0/list_category">Categories</a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="main">
				<form action="/v.1.0/list_business" method="POST">
				<input class="btn" type="submit" value="Add Business!">
				<h2>Add A Business</h2>
					<input type="hidden" name="action" value="add_business">
					<p><label>Organization Name: </label><input type="text" name="bus_name" {% if Business %} value="{{ Business.bus_name }}" {% endif %} style="width:250px"></p>
					{% if name_error %}
						<section>
							<h3>Error</h3>
							<p style="color:red">{{ name_error }}
						</section>
					{% endif %}
					<p><label>Phone: </label><input type="text" name="bus_phone" {% if Business %} value="{{ Business.bus_phone }}" {% endif %} style="width:100px"></p>
					<p><label>Address: </label><input type="text" name="bus_address" {% if Business %} value="{{ Business.bus_address }}" {% endif %} style="width:300px"><br>
					<input style="margin-right:1em" type="checkbox" name="physical">Check here if your location doesn't have a physical address (e.g. Craigslist)</p>
					{% if Geo_error %}
					
						<p style="color:red">{{ Geo_error }}
					<p><label>Latitude Decimal Degrees: </label><input type="text" name="bus_lat" style="width:100px" value="{{ Business.bus_lat }}"></p>
					<p><label>Longitude Decimal Degrees: </label><input type="text" name="bus_long" style="width:100px" value="{{ Business.bus_long }}"></p>
					<p><label>To find decimal degrees of address use this link </label><a href="http://www.prodraw.net/online-tool/latitude-longitude-converter.php" target="_blank">ProDraw Lat and Long</a>
					
					{% endif %}</p>
					<p><span style="color:#996600">***  http:// is required  ***
					<br><strong>Example: </strong>http://www.example.com</span>
					<br><label>Website: </label><input type="text" name="bus_url" {% if Business %} value="{{ Business.bus_url }}" {% endif %} style="width:300px"></p>
					{% if url_error %}
					<section>
							<p style="color:red">{{ url_error }}
					</section>
					{% endif %}
					<p><label>Days Open: </label><input type="text" name="bus_days" {% if Business %} value="{{ Business.bus_days }}" {% endif %} style="width:100px"></p>
					<p><label>Hours of Operation: </label><input type="text" name="bus_hours" {% if Business %} value="{{ Business.bus_hours }}" {% endif %} style="width:100px"></p>

					<p><table><thead><th>Categories</th><th>Link</th></thead>
					{% if Cats %}
						<tbody>
							{% for c in Cats %}
							<tr><td>{{ c.name }}</td><td><input type="checkbox" name="categories" value="{{ c.name }}"{% if Business %} {% for m in MyCats %} {% if m == c.name %} checked {% endif %} {% endfor %} {% endif %}></td></tr>
							{% endfor %}
						</tbody>
					{% endif %}
					</table></p>
				
				</form>

	{% if error %}
	<section>
		<h3>Error</h3>
		<p style="color:red">{{ error }}
	</section>
	{% endif %}
	{% if message %}
	<section>

		<p style="color:green">{{ message }}
	</section>
	{% endif %}
			</div>
		</div>
	</div>		
  </body> 
</html>
