<!DOCTYPE html>
<html lang="en">
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset='utf=8'>
	<link rel="stylesheet" href="/css/styles.css" type="text/css">
	<title>Corvallis Reuse Admin</title>
  </head>
  <body>
 	<div class="header" id="top">
 		<div class="container">
			<h1 class="header-heading">Corvallis Reuse Application Admin</h1>
		</div>
	</div>
	<div class="nav-bar">
		<div class="container">
			<ul class="nav">
				<li style="color:orange">Edit: </li>
				<li><a href="/v.1.0/list_business">Businesses</a></li>
				<li><a href="/v.1.0/list_category">Categories</a></li>
				<li style="float:right"><form action="/v.1.0/auth" method="POST">
				<input type="hidden" name="action" value="log_out">
				<input style="background: black" class="btn" type="submit" value="Log Out">
				</form></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="container">
			<div class="main">				
				{% if special_message %}
				<section>
					<p style="color:blue">{{ special_message }}
				</section>
				{% endif %}
				{% if Category %}
				<div style="float:right"><form action="/v.1.0/list_category" method="POST">
							<input type="hidden" name="action" value="delete_category">
							<input type="hidden" name="category_name" value="{{ Category.category_name }}">
							<input class="btn" type="submit" value="Delete Category">
							</form></div>
				<form action="/v.1.0/list_category" method="POST">
					<input type="hidden" name="action" value="update_category">
					<input type="hidden" name="category_name" value="{{ Category.category_name }}">
					<input class="btn" type="submit" value="Update">
					<h2>{{ Category.category_name }}</h2>
					
					<div style="margin-top:1em;margin-bottom:1em">					
					<label>Add Item: </label><input type="text" name="new_item">		
					</div>		
					<div><table style="float:left"><thead><th>Items</th><th>Link</th></thead>
						{% if MyItems %}
						<tbody>{% for i in MyItems %}
						<tr><td>{{ i }}</td><td><input type="checkbox" name="items" value="{{ i }}" checked </td></tr>
						{% endfor %}
						</tbody>
						{% endif %}
						</table>
						<table style="float:left"><thead><th>Businesses</th><th>Link</th></thead>
						{% if Businesses %}
						<tbody>{% for b in Businesses %}
						<tr><td>{{ b }}</td><td><input type="checkbox" name="businesses" value="{{ b }}" {% for m in MyBusinesses %} {% if b == m %} checked {% endif %} {% endfor %}></td></tr>
						{% endfor %}
						</tbody>
						{% endif %}
						</table>
					</div>
				</form>
				{% endif %}

	{% if error %}
	<section>
		<h3>Error</h3>
		<p style="color:red">{{ error }}
	</section>
	{% endif %}
	{% if message %}
	<section>

		<p style="color:green">{{ message }}
	</section>
	{% endif %}
			</div>
		</div>
	</div>		
  </body> 
</html>
