<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="23920MavetheGreat.CorvallisRecycles" Version="1.1.0.2" Publisher="CN=8857092C-C06C-43FA-9862-2880734CE920" />
  <mp:PhoneIdentity PhoneProductId="a6137a2a-170b-4fd7-99b8-8e5becd7b923" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Corvallis Recycles</DisplayName>
    <PublisherDisplayName>MavetheGreat</PublisherDisplayName>
    <Logo>images\Recycle50x50StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="Corvallis Recycles" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Recycle44x44Logo.png" Description="CorvReUse" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="images\Recycle310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\RecycleSplash.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>